.colorAzul{
    color: blue;
}
.colorCafe{
    color: rgb(71, 15, 15);
}
.parrafo{
    color: rgb(230, 230, 93);
    background-color: blueviolet;
    font-size: 16px;
}
p{
    font-size: 50px;
}
.lista p{
    color: green;
font-size: 16px;
}